# backend port
PORT=8000

# frontend url
FRONTEND_URL=http://localhost:3000

# always use GEMINI_API_KEY as the gemini api key variable name
# llm keys
GEMINI_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=

# helix (Fly.io remote by default)
HELIX_LOCAL=False
HELIX_ENDPOINT=https://your-flyio-host-name.fly.dev
HELIX_PORT=443
HELIX_API_KEY=
