# venv
.venv/

# dist
dist/

# env vars
.env
.env.*

# rust
target/
Cargo.lock

# python
uv.lock
__pycache__/

# misc
backup.txt
replacements.txt
fix-env.sh
rewrite-env-history.ps1

# helix
.helix/
*.log

#electron
node_modules/
.webpack/


client/resources/

.ruff_cache/
videos/output_indexer/
videos/thumbnails/
#build/backend/
backend.spec
backend/build/backend/
lazygit


client/resources/ffmpeg/
client/resources/backend/
backend.spec
backend/build
build/backend/
backend.spec
