# venv
.venv/

# dist
dist/

# env vars
.env
.env.*

# rust
target/
Cargo.lock

# python
uv.lock
__pycache__/

# misc
backup.txt
replacements.txt
fix-env.sh
rewrite-env-history.ps1

# helix
.helix/
*.log

#electron
node_modules/
.webpack/

.ruff_cache/
videos/output_indexer/
videos/thumbnails/

lazygit
backend/build/backend/
client/resources/backend/
client/resources/ffmpeg/
backend.spec
