# venv
.venv/

# dist
dist/

# env vars
.env
.env.*

# rust
target/

# misc
backup.txt
replacements.txt
fix-env.sh
rewrite-env-history.ps1

# helix
.helix/
*.log

#electron
node_modules/
.webpack/


linux/
.ruff_cache/
client/resources/
client/videos/output_indexer/
client/videos/thumbnails/
client/resources/backend/
client/resources/ffmpeg/
backend.spec
backend/build/backend/
lazygit
