:root {
  --welcome-c-variant: #8aa6cf;
}

:root:not(.dark) {
  --welcome-c-variant: #43679d;
}

.welcome-content {
  display: flex;
  padding: 2rem;
  gap: 1rem;
}

.welcome-content h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.welcome-content p {
  margin-bottom: 1rem;
  color: var(--window-c-text);
  font-size: 15px;
  font-weight: 400;
}

