@import "./globals.css";
@import "./window.css";

html {
  font-size: 15px;
}

body {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
}

body[data-font="sans-serif"] {
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    sans-serif;
}

body[data-font="mono"] {
  font-family:
    "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  line-height: 1.45;
}
