:root {
  color-scheme: dark;
  --window-icon-height: 16px;
  --window-title-margin: 42px;
  --window-titlebar-height: 40px;
  --window-titlebar-font-size: 14px;
  --window-titlebar-font-weight: 500;
  --window-scrollbar-width: 12px;
  --window-mac-titlebar-controls-margin: 80px;
  --window-background-transition-duration: 0.3s;
  --window-c-popup-font-weight: 500;
}

:root:not(.dark) {
  --window-titlebar-font-weight: 600;
  --window-c-popup-font-weight: 600;
}
